<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Pullyt"
    UpgradeCode="A5F8AF2B-EF89-4588-A2B5-F2B7924691D6"
    Version="$(env.ProductVersion)"
    Language="1033"
    Manufacturer="pausegarra">

    <Package
      Id="*"
      InstallerVersion="500"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64" />

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Icon Id="ProductIcon" SourceFile="assets\icons\windows\app.ico" />

    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPNOMODIFY" Value="yes" />
    <Property Id="ARPNOREPAIR" Value="yes" />
    <Property Id="ARPHELPLINK" Value="https://github.com/pausegarra/pullyt" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/pausegarra/pullyt" />

    <Feature Id="ProductFeature" Title="Pullyt" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Pullyt" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Pullyt" />
      </Directory>

      <Directory Id="DesktopFolder" />

    </Directory>
  </Fragment>

  <Fragment>
  <ComponentGroup Id="ProductComponents">

    <Component
      Id="PullytExeComponent"
      Directory="INSTALLFOLDER"
      Guid="E2ACF926-BB4B-463E-B660-EB4DFD18F422">

      <File
        Id="PullytExe"
        Source="target\x86_64-pc-windows-msvc\release\pullyt.exe"
        KeyPath="yes" />
    </Component>

    <Component
      Id="PullytShortcutsComponent"
      Directory="ApplicationProgramsFolder"
      Guid="D6C6A6A1-8F34-4D9D-9A7E-1F7A0A3B8C11">

      <Shortcut
        Id="StartMenuShortcut"
        Directory="ApplicationProgramsFolder"
        Name="Pullyt"
        Description="Pullyt"
        Target="[INSTALLFOLDER]pullyt.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="ProductIcon"
        IconIndex="0" />

      <Shortcut
        Id="DesktopShortcut"
        Directory="DesktopFolder"
        Name="Pullyt"
        Description="Pullyt"
        Target="[INSTALLFOLDER]pullyt.exe"
        WorkingDirectory="INSTALLFOLDER"
        Icon="ProductIcon"
        IconIndex="0" />

      <RemoveFolder
        Id="RemoveApplicationProgramsFolder"
        Directory="ApplicationProgramsFolder"
        On="uninstall" />

      <RegistryValue
        Root="HKCU"
        Key="Software\pausegarra\Pullyt"
        Name="shortcuts"
        Type="integer"
        Value="1"
        KeyPath="yes" />

    </Component>

  </ComponentGroup>
</Fragment>
</Wix>